testing/Connected Services/Verivdp/VeriVDP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hdcversvc01.cgx.net/Veritas.VDP.Stage/VeriVDP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VeriVDP" />
  <xs:element name="Info_GetPageCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_GetPageCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="Info_GetPageCountsResult" nillable="true" type="q1:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertHTMLToPageflexXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertHTMLToPageflexXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="ConvertHTMLToPageflexXMLResult" nillable="true" type="q2:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Build_VDPAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="composite" nillable="true" type="q3:requestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Build_VDPAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="Build_VDPAssetResult" nillable="true" type="q4:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit_Pageflex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="composite" nillable="true" type="q5:requestTypeXmPie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit_PageflexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="Submit_PageflexResult" nillable="true" type="q6:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_GetJobStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_GetJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Info_GetJobStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_GetTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_GetTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Info_GetTaskLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit_XMPie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="composite" nillable="true" type="q7:requestTypeXmPie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit_XMPieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="Submit_XMPieResult" nillable="true" type="q8:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VeriVDP" minOccurs="0" name="SubmitResult" nillable="true" type="q9:returnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>