testing/Connected Services/Verivdp/VeriVDP1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VeriVDP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VeriVDP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hdcversvc01.cgx.net/Veritas.VDP.Stage/VeriVDP.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="returnType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommandPacket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="returnType" nillable="true" type="tns:returnType" />
  <xs:complexType name="requestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBConn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestType" nillable="true" type="tns:requestType" />
  <xs:complexType name="requestTypeXmPie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestTypeObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="requestTypeXmPie" nillable="true" type="tns:requestTypeXmPie" />
  <xs:complexType name="requestTypeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPreview" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobMonitorEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jobid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programid" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SplittingCount" type="xs:int" />
      <xs:element minOccurs="0" name="SplittingType" type="xs:int" />
      <xs:element minOccurs="0" name="Sqlstatement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commandpacket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isProof" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobvariables" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="recipientCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestTypeObject" nillable="true" type="tns:requestTypeObject" />
</xs:schema>